@import 'config';
@import 'utilities';

/*-------------------------
          CORE STYLES
-------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  background-color: #333;
  color: #fff;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/*-------------------------
          NAVBAR
-------------------------*/
/* CORE STYLES */
:root {
  //  --primary-color: rgba(13, 110, 139, 0.75);
  --primary-color: rgba(255, 215, 0, 1);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

//.showcase {
//  background: var(--primary-color);
//  color: #fff;
//  height: 100vh;
//  position: relative;
//}

//.showcase:before {
//  content: '';
//  background: url('../img/xylophone.jpg') no-repeat center center/cover;
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  z-index: -1;
//}

//.showcase .showcase-inner {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  text-align: center;
//  height: 100%;
//}

//.showcase h1 {
//  font-size: 4rem;
//}

//.showcase p {
//  font-size: 1.3rem;
//}

//.btn {
//  display: inline-block;
//  border: none;
//  background: var(--primary-color);
//  color: #fff;
//  padding: 0.75rem 1.5rem;
//  margin-top: 1rem;
//  transition: opacity 1s ease-in-out;
//  text-decoration: none;
//}

//.btn:hover {
//  opacity: 0.7;
//}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
/*-------------------------
          LANDING & ANIMATION
-------------------------*/
.landing {
  position: relative;
  background: url('../img/xylophone.jpg') no-repeat center center/cover;
  height: 100vh;

  &-inner {
    color: #ffd700;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.home-title,
.home-subtitle {
  letter-spacing: 0.3rem;
  text-shadow: 0.5rem 0.5rem 0.5rem #333;
}

.animated {
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale(0.97, 0.97, 0.97, 0.97);
  }

  to {
    -webkit-transform: scale(1, 1, 1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

/*-------------------------
          ABOUT
-------------------------*/
span {
  color: $primary-color;
}

.about-main-title {
  text-align: center;
}

.about-paragraph {
  line-height: 22px;
  margin-bottom: 20px;
  text-indent: 12px;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;

  //  img {
  //    width: 500px;
  //  }

  .icons a {
    color: $primary-color;
    margin: 0 0.3rem;

    &:hover {
      color: $dark-color;
    }
  }
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.about-heading {
  margin-top: 25px;
}

.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  background: #333;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* height: 50px; */
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -45px;
}

.carousel__button--right {
  right: -40px;
}

.carousel__button img {
  width: 10px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgb(0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.is-hidden {
  display: none;
}
/*-------------------------
          PROJECTS
-------------------------*/
.cards {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding-top: 30px;
}

.cards * {
  box-sizing: border-box;
}

.card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.card__content {
  line-height: 1.5;
  padding: 15px;
  background: #fafafa;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
  color: #333;
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.card__info .card-icon {
  font-size: 0.9em;
  margin-right: 8px;
}

.card__link {
  color: $dark-color;
  text-decoration: none;
}

.card__link:hover {
  text-decoration: underline;
}

/*-------------------------
          CONTACT
-------------------------*/
.contact-main-title {
  text-align: center;
}

.contact-details {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.contact-icons {
  text-align: center;
}

/*-------------------------
        Facebook Feed
-------------------------*/
.profile-facebook {
  grid-area: facebook;
}

.fb-image {
  width: auto;
  height: auto;
}

#facebook-profile-img {
  text-align: center;
  display: block;
}

#fb-profile-heading {
  text-align: center;
}

/*-------------------------
        YouTube Playlists
-------------------------*/
.youtube-page {
  justify-content: center;
}

.youtube-main-title {
  text-align: center;
}

.youtube-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;

  .icons a {
    color: $primary-color;
    margin: 0 0.3rem;

    &:hover {
      color: $dark-color;
    }
  }
}
/*-------------------------
          Footer
-------------------------*/

footer {
  text-align: center;
}

@import 'mobile';
